<%# app/views/sessions/new.html.erb %>
<%= form_with url: login_path, local: true do |f| %>

  <div class="form-page">
    <h1>ログイン</h1>

    <div class="form">

      <div class="form-group">
        <%= f.label :email, "メールアドレス", class: "form-label" %>
        <%= f.email_field :email, class: "form-control", placeholder: "メールアドレスを入力" %>
      </div>

      <div class="form-group">
        <%= f.label :password, "パスワード", class: "form-label" %>
        <%= f.password_field :password, class: "form-control", placeholder: "パスワードを入力" %>
      </div>

      <div class="form-actions d-flex">
        <%= f.submit "ログイン", class: "form-btn form-btn--primary" %>
        <%= link_to "新しいアカウントを作成", new_user_path, class: "form-btn form-btn--secondary" %>
      </div>

    </div>
  </div>
<% end %>
