<%# app/views/users/edit_account.html.erb %>
<%= render 'settings_layout' do %>
  <h2>アカウント情報編集</h2>

  <%= form_with model: @user, url: update_account_path, local: true do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-input" %>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-input" %>
    </div>

    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-input" %>
    </div>

    <%= f.submit "更新", class: "auth-button" %>
  <% end %>
<% end %>
