<%# app/views/users/account.html.erb %>
<div class="page-container">
  <%= render "settings_layout" do %>
    <h2>アカウント</h2>
    
    <!-- メールアドレス -->
    <%= form_with model: @user, url: account_path, method: :patch do |f| %>
      <div>
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email %>
      </div>

    <!-- パスワード -->
      <div>
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <small>※変更する場合のみ入力</small>
      </div>

    <!-- 確認用パスワード -->
      <div>
        <%= f.label :password_confirmation, "確認用パスワード" %>
        <%= f.password_field :password_confirmation %>
        <small>※変更する場合のみ入力</small>
      </div>

    <!-- 現在のパスワード -->
      <div>
        <%= f.label :current_password, "現在のパスワード" %>
        <%= f.password_field :current_password %>
      </div>
      <% end %>

  <% end %>
</div>

