<%# app/views/home/index.html.erb %>
<% content_for :title, "Potepan Share - ホーム" %>
<%# headerとfooterはlayout %>

    <section class="hero">
      <div class="hero-overlay">
        <div class="hero-content">
          <h1 class="hero-title">Potepan Share</h1>
          <p class="hero-subtitle">
            まだ体験したことのない<br>
            旅をしよう
          </p>

          <div class="hero-search">
            <%= form_with url: rooms_path, method: :get, local: true do |f| %>
              <%= f.text_field :area,
                    placeholder: "エリア名を入力",
                    class: "hero-input" %>
              <%= f.submit "検索", class: "hero-button" %>
            <% end %>
          </div>
        </div>
      </div>
    </section>

    <section class="recommended-areas">
      <h2 class="section-title">おすすめのエリア</h2>

      <div class="area-cards">
        <div class="area-card">
          <p>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
          <path d="M128 252.6C128 148.4 214 64 320 64C426 64 512 148.4 512 252.6C512 371.9 391.8 514.9 341.6 569.4C329.8 582.2 310.1 582.2 298.3 569.4C248.1 514.9 127.9 371.9 127.9 252.6zM320 320C355.3 320 384 291.3 384 256C384 220.7 355.3 192 320 192C284.7 192 256 220.7 256 256C256 291.3 284.7 320 320 320z"/></svg>
          東京
          </p>
          <div class="area-img tokyo" style="background-image: url(<%= asset_path('tokyo.jpg') %>)"></div>
        </div>

        <div class="area-card">
          <p>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
          <path d="M128 252.6C128 148.4 214 64 320 64C426 64 512 148.4 512 252.6C512 371.9 391.8 514.9 341.6 569.4C329.8 582.2 310.1 582.2 298.3 569.4C248.1 514.9 127.9 371.9 127.9 252.6zM320 320C355.3 320 384 291.3 384 256C384 220.7 355.3 192 320 192C284.7 192 256 220.7 256 256C256 291.3 284.7 320 320 320z"/></svg>
          大阪
          </p>
          <div class="area-img osaka" style="background-image: url(<%= asset_path('osaka.jpg') %>)"></div>
        </div>

        <div class="area-card">
          <p>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
          <path d="M128 252.6C128 148.4 214 64 320 64C426 64 512 148.4 512 252.6C512 371.9 391.8 514.9 341.6 569.4C329.8 582.2 310.1 582.2 298.3 569.4C248.1 514.9 127.9 371.9 127.9 252.6zM320 320C355.3 320 384 291.3 384 256C384 220.7 355.3 192 320 192C284.7 192 256 220.7 256 256C256 291.3 284.7 320 320 320z"/></svg>
          京都
          </p>
          <div class="area-img kyoto" style="background-image: url(<%= asset_path('kyoto.jpg') %>)"></div>
        </div>

        <div class="area-card">
          <p>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
          <path d="M128 252.6C128 148.4 214 64 320 64C426 64 512 148.4 512 252.6C512 371.9 391.8 514.9 341.6 569.4C329.8 582.2 310.1 582.2 298.3 569.4C248.1 514.9 127.9 371.9 127.9 252.6zM320 320C355.3 320 384 291.3 384 256C384 220.7 355.3 192 320 192C284.7 192 256 220.7 256 256C256 291.3 284.7 320 320 320z"/></svg>
          札幌
          </p>
          <div class="area-img sapporo" style="background-image: url(<%= asset_path('sapporo.jpg') %>)"></div>
        </div>

      </div>
    </section>

<% if current_user %><%# sectionより下に書くこと ロクインしていない状態で見れなくなる %>
  <p>Logged in as <%= current_user.name %></p>

  <%= button_to "Logout", logout_path, method: :delete %>

  <% else %>
<% end %>
