<div class="form-page confirm-page"> 
  <h1>予約内容の確認</h1>
    <div class=form>
      <div class="form-group">
        <p class="form-label">チェックイン</p>
        <%= @reservation.start_date&.strftime("%Y/%m/%d") %> <%#  &. でnil エラー防止 %>
      </div>
    
      <div class="form-group">
        <p class="form-label">チェックアウト </p>
        <%= @reservation.end_date&.strftime("%Y/%m/%d") %> <%#  &. でnil エラー防止 %>
      </div>
    
      <div class="form-group">
        <p class="form-label">チェックアウト</p>
        <%= (@reservation.end_date - @reservation.start_date).to_i %> 泊
      </div>
  
      <div class="form-group">
        <p class="form-label">人数</p>
        <%= @reservation.guest_count %> 人
      </div>
  
      <div class="form-group">
        <p class="form-label">合計金額</p>
        <span style="font-size: 1.2em; font-weight: bold;">
          <%= number_to_currency(@reservation.total_price, unit: "¥", precision: 0) %>
        </span>
      </div>
    </div>
  
    <div class="form-actions d-flex">
      <%= form_with model: @reservation,
            url: room_reservations_path(@room),
            method: :post,
            local: true,
            data: { turbo: false } do |f| %> <%# これがないとturboが働いてerrorになる %>
    
        <%= f.hidden_field :start_date %>
        <%= f.hidden_field :end_date %>
        <%= f.hidden_field :guest_count %>
    
        <%= f.submit "この内容で予約する",
              class: "form-btn form-btn--primary" %>
      <% end %>
      <%= link_to "キャンセル",
            room_path(@room),
            class: "form-btn form-btn--secondary" %>
    </div>
</div>
