<h1 class="page-title">登録済みの部屋一覧</h1>

<% if @rooms.any? %>
  <div class="table-wrapper">
    <table class="rooms-table">
      <thead>
        <tr>
          <th>画像</th>
          <th>施設名</th>
          <th>紹介文</th>
          <th>料金</th>
          <th>作成日</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <%# 画像 %>
            <td>
              <% if room.image.attached? %>
                <%= image_tag room.image, width: 100 %>
              <% else %>
                <%= image_tag "default_room.png", alt: "画像なし", width: 100 %>
              <% end %>

            </td>

            <%# 施設名 %>
            <td class="">
              <%= link_to room.name, room_path(room), class: "link-text" %>
            </td>

            <%# 紹介文 %>
              <td class="room-description">
                <%= room.description %>
              </td>

            <%# 料金 %>
            <td>
              <%= number_to_currency(room.price, unit: "¥", precision: 0) %>
            </td>

            <%# 作成日 %>
            <td>
              <%= room.created_at.strftime("%Y/%m/%d %H:%M") %>
            </td>

            <%# 編集・削除ボタン %>
            <td>
              <div class="reservation-dropdown-wrapper" data-controller="reservation-dropdown">
                <!-- SVG をクリックしてメニューを開閉 -->
                <button class="reservation-dropdown-toggle btn btn-link p-0" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="20" height="20" fill="currentColor">
                    <path d="M320 208C289.1 208 264 182.9 264 152C264 121.1 289.1 96 320 96C350.9 96 376 121.1 376 152C376 182.9 350.9 208 320 208zM320 432C350.9 432 376 457.1 376 488C376 518.9 350.9 544 320 544C289.1 544 264 518.9 264 488C264 457.1 289.1 432 320 432zM376 320C376 350.9 350.9 376 320 376C289.1 376 264 350.9 264 320C264 289.1 289.1 264 320 264C350.9 264 376 289.1 376 320z"/>
                  </svg>
                </button>
                </ul>
                <ul class="reservation-dropdown-menu">
                  <li><%# 登録施設編集 %>
                    <%= link_to "編集",
                          edit_room_path(room),
                          class: "dropdown-item" %>
                  </li>
                  <li><%# 登録施設削除 %>
                    <%= link_to "施設を削除",
                          room_path(room),
                          data: {
                            turbo_method: :delete,
                            turbo_confirm: "本当に削除しますか？"
                          },
                          class: "dropdown-item text-danger" %>
                  </li>
                </ul>

              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>まだ部屋を登録していません。</p>
<% end %>
