<%# app/views/layouts/application.html.erb %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Potepan Share" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# <link rel="manifest" href="/manifest.json"> %> <!-- PWA用マニフェストファイル 404エラーになるためコメントアウト -->
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= 'home-page' if current_page?(root_path) %>">

    <header class="header">
      <div class="nav-left">
        <%= link_to root_path, class: "logo-link header-logo" do %>
          <%= image_tag "logo.png", alt: "Potepan Share", class: "logo" %>
        <% end %>
      </div>

      <nav class="nav">
        <div class="nav-right">
          <% if current_user %>
            <!-- ユーザーメニュー(ログインしている時のみ表示される) -->
            <div class="user-menu">
              <%= image_tag current_user.avatar.attached? ? current_user.avatar : "default_user.png",
                            class: "user-avatar" %>
              <span class="user-name"><%= current_user.name %></span>
              <span class="user-dropdown">&#9662;</span> <!-- 下矢印 -->

              <ul class="user-dropdown-menu">
                <li><%= link_to "施設の新規登録", new_room_path %></li>
                <li><%= link_to "マイ予約一覧", my_reservations_path %></li>
                <li><%= link_to "登録済み一覧", my_rooms_path  %></li>
                <li><%= link_to "アカウント設定", account_path %></li>
                <%# <li><%= link_to "プロフィール", profile_path</li> %> 
                <li>
                  <%= link_to "ログアウト",
                              logout_path,
                              data: { turbo_method: :delete, turbo_confirm: "ログアウトしますか？" } %>
                </li>
              </ul>
            </div>
            <!-- ユーザーメニュー終わり -->
          <% else %>
            <%= link_to "ログイン", login_path, class: "nav-link" %>
            <%= link_to "新規登録", new_user_path, class: "nav-link new-member" %>
          <% end %>
        </div>
      </nav>
    </header>

    <%# フラッシュメッセージ表示 %>
      <% if notice %>
        <div class="flash-message notice">
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="flash-message alert">
          <%= alert %>
        </div>
      <% end %>

      <%= yield :full_width %>  <!-- ★ search-nav 用 -->

    <main class="main">
        <div class="page-container">
          <%= yield %>              <!-- ★ 通常ページ -->
        </div>
    </main>

    <footer class="footer">
      <div class="footer-inner">
        <!-- ロゴ画像（ホームへ） -->
        <%= link_to root_path, class: "footer-logo-link" do %>
          <%= image_tag "logo.png", class: "logo logo--footer" %>
        <% end %>

        <!-- コピーライト -->
        <p class="copyright">
          Copyright © Potepan Share 2026 All rights reserved
        </p>
      </div>
    </footer>
  </body>
</html>